@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./Fonts/galmuri.css";

html {
  margin: auto;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(185,49,252, 0.9);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px; 
}

.scrollbar-custom {
  @apply scrollbar-thin;
}
.scrollbar-custom-horizontal {
  @apply scrollbar-thin-horizontal;
}

body {
  margin: auto;
  font-family: "Galmuri11", sans-serif;
  /* 원하는 폰트로 설정 */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-colors duration-200 bg-light-bg dark:bg-dark-bg;
  max-width: 1024px;
  padding-bottom: 7vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.canvas {
  height: 100vh;
  left: 0px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100vw;
}